<div id="home">
  <h1 id="title1">Solving system of linear equations</h1>
  <h2 id="title2">Solving Methods :</h2>
  <div id="methods">
    <li id="gauss" class="option" (click)="$event">Solve using Gauss Elimination</li>
    <li id="gaussJordan" class="option" (click)="$event">Solve using Gauss-Jordan Elimination</li>
    <li id="LU" class="option" (click)="$event">Solve using LU Decomposition</li>
    <li id="jacobi" class="option" (click)="$event">Solve using Jacobi Iterative Method</li>
    <li id="gaussSiedel" class="option" (click)="$event">Solve using Gauss-Siedel Method</li>
  </div>
</div>
